<%- include('blocks/header', {bot, user, path}) %>
  <div class="jumbotron">
    <div>
      <%
        var desc = "A bot that gives you tech tips and also has funni sandal man.";
      %>
      <h1><%= bot.user.username %> Dashboard</h1>
      <!--<img src="/public/dashimage.png" width="1050" height="600" class="d-inline-block align-middle alt="">-->
      <h1></h1>
      <p class="lead">
        <a class="btn btn-primary" href="/commands" role="button">Command Help »</a>
      </p>
      <p class="lead">
        <a class="btn btn-primary" href="/dashboard" role="button">Dashboard »</a>
      </p>
      <p></p>

<p>The Managerial Bot for The GOOP House (goop.house)</p>
</blockquote>
<p>If you have any suggestions for commands or functions, please feel free to DM me (Bardia) TheLickIn13Keys#7977 or Twitter @TheLickIn13Keys</p>
<p>I&#39;m always happy to answer the occasional question via DM or through the server</p>
    </div>
  </div>
<% include('./blocks/footer') %>
